[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 700px) {
    footer {
        position: absolute;
        bottom: 0px;
        padding-top: 3%;
    }
}

@media only screen and (min-width: 768px) {
    [class*="col-"] {
    float: left;
    padding: 10px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

header{
    width: 100%;
    height: 150px;
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 10px solid #202020;
    background-image: url(afbeeldingen/WOERDEN-DRONESHOT.jpg);
    background-size: cover;
    background-position: center;
}

body {
    background-color: #edf8e6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}
footer {
    background-color: #202020;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    color: white;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    margin-top: -35px;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #202020;
    text-align: left;      
}

h4 {
    font-family: 'Anton', sans-serif;
    font-size: 22px;
    color: #202020;
    text-align: left;      
}

.head {
    font-size: 20px;
    font-style: italic;
    margin-right: 110px;
}

.A1{
    margin-left: 5%;
    color: white;
}

.A2{
    margin-left: 5%;
}

.B1{
    margin-left: 5%;
}

img{
    float: right;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}


html {
    position: absolute;
    min-height: 1450px;
}

.col-2 {
    background-color:#202020;
    color: white;
    padding-top: 1%;
    padding-bottom: 5%;
}
    